h3 {
  background-color: #3ba6d7; }

div {
  background-color: #3ba6d7;
  font-size: 20px;
  color: #a6aaac; }

.bg-dark {
  width: 1887px; }

.logo {
  padding: 20px 20px 20px 20px; }

.dropdown-menu {
  background-color: #a6aaac !important; }

.container-fluid {
  padding: 0; }

.btn-group {
  width: 1887px;
  height: 50px; }

.rounded {
  width: 1890px; }

.fuentesTitulo {
  background-color: #3ba6d7 !important;
  border-radius: 10px;
  color: white;
  padding: 10px 20px 20px 20px;
  width: 1887px; }

.slidesize {
  border-radius: 30px;
  width: 1875px; }

.slide1 {
  border-radius: 30px;
  width: 1875px; }

.slide2 {
  border-radius: 30px;
  width: 1875px; }

.slide3 {
  border-radius: 30px;
  width: 1875px; }

.bg-primary {
  background-color: #3ba6d7;
  width: 1887px; }
